html {
    background-color: #cbc0d3;
}

div.col-xs-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1,
h2,
h3,
h4 {
    color: #240046;
}

a {
    color: #0091ad;
    text-decoration: none;
}

a:after {
    color: #d4d700;
}

.pop {
    color: #a4133c;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
#table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #aeb4606e;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 27px;
}

th {
    color: #aeb460;
    background-color: #063d41;
}

    .nav.links {
        text-align: justify;
        min-width: 500px;
    }

    .nav-links:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .nav-links li {
        display: inline-block;
    }